body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Atma', cursive !important;
  
}
.plus{
    max-width: 40px;
    max-height: 40px;
    bottom: 0;
    left: 50%;
}
.pokedex{
  max-height: 668px;
  max-width: 1024px;
  overflow: auto;

}
.modal-content{
  margin-top: 6rem;
}
.top-right{
  top:0;
  right: 10px;
}
thead{display: none;}
#root {
  width: 1024px;
  height: 768px;
  margin: 50px auto;
  border-color: #353535;
  border-radius: 40px;
  border-width: 28px 103px 28px 74px;
  border-style: solid;
  position: relative;
}

#root:before {
  content: "";
  position: absolute;
  left: -80px;
  transform: rotate(270deg);
  background: url(https://cdn-images-1.medium.com/fit/c/200/200/1*PKHCHuLxDyZ8SV3PKxzizA.png) no-repeat center center / 100%;
  width: 85px;
  height: 180px;
  top: 40%;
}

#root:after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #5c5c5c;
  position: absolute;
  right: -79px;
  top: 50%;
  border: 1px inset #7b7b7b;
}